name: flutter_styled_toast_example
description: A new Flutter application.

publish_to: 'none'

version: 2.0.0

environment:
  sdk: "3.9.2"

dependencies:
  cupertino_icons: ^1.0.5
  flutter:
    sdk: flutter
  flutter_styled_toast:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
