name: flutter_styled_toast
description: A Styled Toast Flutter package. You can highly customize toast
  ever.Beautify toast with a series of animations and make toast more beautiful.
version: 2.2.1
homepage: https://github.com/JackJonson/flutter_styled_toast
email: yswing1@gmail.com

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_lints: ^2.0.2
  flutter_test:
    sdk: flutter

flutter: null
